---
layout: page
title: Blog
---
{% include JB/setup %}
<div class="row">
  <div class="span6">
    <h3>Posts</h3>
    <ul class="posts">
      {% for post in site.categories['Blog'] limit: 5 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
           <span class="post-date">
            {{ post.date | date_to_string }}
          </span>
          <span>
          {{ p.url }}
          </span>
        </h3>
      </li>
      {% endfor %}
    </ul>
    {% if site.categories['Blog'].size > 5 %}
      <a href="/posts" style="margin: 15px 0px 0px 50px;">
        More…
      </a>
    {% endif %}
    <h3 style="margin-top: 100px;">Haikus</h3>
    <ul class="posts">
      {% for haiku in site.categories['Haikus'] limit: 5 %}
      <li>
        <h3>
          <a href="{{ haiku.url }}">
            {{ haiku.title }}
          </a>
          <span class="post-date">
            {{ haiku.date | date_to_string }}
          </span>
          <span>
            {{ p.url }}
          </span>
        </h3>
      </li>
      {% endfor %}
    </ul>
    {% if site.categories['Haikus'].size > 5 %}
      <a href="/haikus" style="margin: 15px 0px 0px 50px;">
        More…
      </a>
    {% endif %}
  </div>
  <div class="span4" style="margin-left: 100px">
    <h2>About Me</h2>
    <p>I'm Jake. I live in Salt Lake City, and I do various things with computers. Besides that I read, cook, play guitar, go outside, and stay inside.</p>
  </div>
</div>
