/* Partials */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Space+Mono);
/* Theme Vars */
/* Compass Vars */
/* Override some defaults */
html, body {
  background-color: #fff; }

body {
  color: #000;
  height: 100%;
  font-family: 'Montserrat', serif;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  color: #000;
  text-rendering: optimizelegibility;
  font-family: 'Montserrat', serif; }

a {
  color: #001eff;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  a:hover {
    color: #6678ff;
    text-decoration: none; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  color: #000; }

h1, h2 {
  margin: 0 0 15px; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 30px; }

pre, code {
  color: #444;
  background-color: #ccc;
  font-family: 'Space Mono', serif;
  border: none; }

pre > code {
  /* Reset box-shadow for pygments */
  background: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none; }

hr {
  border: none;
  background: rgba(0, 0, 0, 0.7);
  height: 1px; }

/* Layout */
.navbar {
  color: #efefef;
  margin-bottom: 0; }
  .navbar div.navbar-inner {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
    .navbar div.navbar-inner a.brand {
      padding: 10px 20px;
      color: #030303; }
    .navbar div.navbar-inner ul.nav:first-child li a {
      color: #030303;
      padding: 12px 10px 8px; }

.navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1F2F1F;
  background-image: -moz-linear-gradient(top, white, #9ea0a1);
  background-image: -ms-linear-gradient(top, white, #fafbfb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#fafbfb));
  background-image: -webkit-linear-gradient(top, white, #fafbfb);
  background-image: -o-linear-gradient(top, white, #fafbfb);
  background-image: linear-gradient(to bottom, #ffffff, #fafbfb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$navbar-from-gradient-color', endColorstr='$navbar-to-gradient-color', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1); }
  .navbar-inner .active {
    background-image: -moz-linear-gradient(top, #aaacac, #9ea0a1);
    background-image: -ms-linear-gradient(top, #aaacac, #9ea0a1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aaacac), to(#9ea0a1));
    background-image: -webkit-linear-gradient(top, #aaacac, #9ea0a1);
    background-image: -o-linear-gradient(top, #aaacac, #9ea0a1);
    background-image: linear-gradient(to bottom, #aaacac, #9ea0a1);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$navbar-from-gradient-color-active', endColorstr='$navbar-to-gradient-color-active', GradientType=0); }

.container > footer {
  margin-top: 20px;
  clear: both; }

.container > footer p {
  text-align: center;
  /* center align it with the container */ }

/* Content */
.content {
  /* when there's no page-header */
  /* Wide column content */ }
  .content.no-header {
    padding-top: 40px; }
  .content div.row div.span8 > img {
    display: block;
    margin: 10px auto; }
  .content div.row div.span4 h4 {
    margin-top: 10px; }
    .content div.row div.span4 h4:first {
      margin-top: 0; }
  .content p {
    padding-bottom: 15px;
    line-height: 25px;
    margin: 0; }

/* Page header tweaks */
.page-header {
  margin: 0px -20px 20px; }

.page-header, .well {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: #fff;
  border: none;
  padding: 20px 20px 10px;
  z-index: 0;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }
  .page-header h1, .well h1 {
    color: #000;
    margin-bottom: 0; }

/* Page footer tweaks */
.page-footer {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  padding: 20px 20px 10px;
  margin: 0px -20px 20px;
  z-index: 0;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }
  .page-footer h1 {
    color: #111;
    margin-bottom: 0; }

.topbar .btn {
  border: 0; }

/* Pagination */
div.pagination li a {
  -moz-box-shadow: 0px 1px 1px #000;
  -webkit-box-shadow: 0px 1px 1px #000;
  box-shadow: 0px 1px 1px #000; }

/* Buttons */
a.btn, a.btn.disabled {
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px 2px #000;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 0, rgba(255, 255, 255, 0.5) 0 1px 1px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset; }
  a.btn:hover, a.btn.disabled:hover {
    background: rgba(0, 0, 0, 0.15); }
  a.btn.disabled, a.btn.disabled.disabled {
    color: rgba(255, 255, 255, 0.3); }

/* Tags */
.tag_box {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  overflow: hidden; }
  .tag_box.inline li {
    float: left; }
  .tag_box li {
    line-height: 28px; }
  .tag_box a.active {
    background: #57A957;
    border: 1px solid #4C964D;
    color: #000; }
  .tag_box a span {
    vertical-align: super;
    font-size: 0.8em; }

.tag_box.inline a,
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: rgba(255, 255, 255, 0.2);
  color: black;
  border-radius: 3px;
  text-decoration: none;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 0, rgba(255, 255, 255, 0.5) 0 1px 1px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset; }
  .tag_box.inline a:hover,
  .tag_box a:hover {
    background: rgba(0, 0, 0, 0.3); }

/* Page-specific */
div.content div#page-index {
  padding-top: 30px !important; }

/* Zocial Overrides */
.navbar a.zocial {
  color: #030303 !important;
  padding-left: 0 !important;
  padding-right: 0 !important; }

.zocial.googleplus:focus,
.zocial.googleplus:hover {
  color: #e01d30 !important; }

.zocial.twitter:focus,
.zocial.twitter:hover {
  color: #46c0fb !important; }

.zocial.github:focus,
.zocial.github:hover {
  color: #ddd !important; }

.zocial.linkedin:focus,
.zocial.linkedin:hover {
  color: #50a1cb !important; }

.zocial.rss:focus,
.zocial.rss:hover {
  color: #fb9d3a !important; }

/* Responsive Overrides */
@media (max-width: 767px) {
  body {
    padding-right: 0px;
    padding-left: 0px; }

  div.container {
    padding: 0px 20px; }
    div.container div.page-header {
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0; } }
/* Posts */
article.post header {
  margin-bottom: 10px; }
  article.post header h1, article.post header h2 {
    margin: 0; }
  article.post header .category {
    display: inline-block;
    color: white;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 6px;
    margin-left: 3px; }

div.posts article div.date {
  font-size: 10px;
  padding: 10px 0; }
  div.posts article div.date time {
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    background: #202020;
    background-color: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 10px; }

/* This is for your Custom Content. */
strong {
  color: #000; }

table {
  border-collapse: collapse;
  margin: 12px; }

tr {
  border-bottom: white;
  border-bottom-width: 1px;
  border-bottom-style: groove; }

th, td {
  text-align: left; }

.navbar .nav > li > a {
  padding-top: 3px; }

/*# sourceMappingURL=style.css.map */
