---
layout: page
title: Haikus
tagline: I don't always post, but when I do it goes here, often from my phone
---
{% include JB/setup %}

<div style="margin-top:25px">
  <ul class="haikus">
    {% for haiku in site.posts %}
    {% if haiku.category contains 'Haikus' %}
    <li>
      <h3>
        <a href="{{ haiku.url }}">
          {{ haiku.title }}
        </a>
        <span class="post-date">
          {{ haiku.date | date_to_string }}
        </span>
        <span>
          {{ p.url }}
        </span>
      </h3>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
