/* This is for your Custom Content. */
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 97vh;
}

.content {
  flex: 1;
}

.footer {
  flex-shrink: 0;
  font-size: 10px;
  display: flex;
  align-items: flex-end;
}

.footer-nav {
  list-style-type: none;
}

strong {
	color: #000;
}

table {
  border-collapse: collapse;
  margin: 12px;
}

tr {
  border-bottom: white;
  border-bottom-width: 1px;
  border-bottom-style: groove;
}

th, td {
  text-align: left;
}

.navbar .nav > li > a {
  padding-top: 3px;
}

.post-date {
  float: right;
  padding-left: 24px;
}

.posts {
  list-style-type: none;
}
